<div class="row justify-content-between text-md-start text-center">
	<div class="col-md-auto">
		<button mat-button routerLink="/">
			<img src="logo.png" height="28px" class="align-middle me-2" />
			<span class="align-middle">Exercisely</span>
		</button>
	</div>

	<div class="col-md">
		<div class="row row-cols-auto justify-content-center justify-content-md-end">
			<div class="col">
				<button mat-button routerLink="/" routerLinkActive="active">
					<i class="fa-solid fa-house me-2"></i>
					<span>Home</span>
				</button>
			</div>

			<div class="col">
				<button mat-button routerLink="/login" routerLinkActive="active">
					<i class="fa-solid fa-right-to-bracket me-2"></i>
					<span>Login / Register</span>
				</button>
			</div>

			<!-- <div class="col">
				<button mat-button routerLink="/register" routerLinkActive="active">
					<i class="fa-solid fa-user-plus me-2"></i>
					<span>Register</span>
				</button>
			</div> -->

			<div class="col">
				<button mat-button routerLink="/profile" routerLinkActive="active">
					<i class="fa-solid fa-user me-2"></i>
					<span>Profile</span>
				</button>
			</div>
		</div>
	</div>
</div>
