<div class="row justify-content-between text-md-start text-center">
	<div class="col-md-auto">
		<button mat-button routerLink="/">
			<img src="logo.png" height="28px" class="align-middle me-2" />
			<span class="align-middle">Exercisely</span>
		</button>
	</div>

	<div class="col-md">
		<div class="row row-cols-auto justify-content-center justify-content-md-end">
			<div class="col">
				<button mat-button routerLink="/exercises" routerLinkActive="active">
					<i class="fa-solid fa-dumbbell me-2"></i>
					<span>Exercises</span>
				</button>
			</div>

			<!-- <div class="col">
				<button mat-button routerLink="/lists" routerLinkActive="active">
					<i class="fa-solid fa-users me-2"></i>
					<span>Community Workouts</span>
				</button>
			</div> -->

			<div class="col" *ngIf="!authService.isAuth()">
				<button mat-button routerLink="/auth/login" routerLinkActive="active">
					<i class="fa-solid fa-right-to-bracket me-2"></i>
					<span>Login</span>
				</button>
			</div>

			<div class="col" *ngIf="!authService.isAuth()">
				<button mat-button routerLink="/auth/register" routerLinkActive="active">
					<i class="fa-solid fa-user-plus me-2"></i>
					<span>Register</span>
				</button>
			</div>

			<div class="col" *ngIf="authService.isAuth()">
				<button mat-button routerLink="/profile" routerLinkActive="active">
					<i class="fa-solid fa-user me-2"></i>
					<span>Profile</span>
				</button>
			</div>

			<div class="col" *ngIf="authService.isAuth()">
				<button mat-button (click)="onLogout()">
					<i class="fa-solid fa-right-to-bracket me-2"></i>
					<span>Logout</span>
				</button>
			</div>
		</div>
	</div>
</div>
