<div class="row">
	<div class="col-12">
		<h1>Reset Password</h1>
	</div>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
	<div class="row">
		<div class="col-12">
			<mat-form-field appearance="outline" hideRequiredMarker>
				<mat-label>New Password</mat-label>

				<input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" matInput required />

				<button (click)="showPassword = !showPassword" disableRipple mat-icon-button matSuffix matToolTip="Toggle Visibility" type="button">
					<mat-icon *ngIf="showPassword" color="primary">visibility</mat-icon>
					<mat-icon *ngIf="!showPassword" color="primary">visibility_off</mat-icon>
				</button>

				<mat-icon matPrefix>password</mat-icon>

				<mat-error *ngIf="form.get('newPassword').hasError('required')">Password is required</mat-error>
				<mat-error *ngIf="form.get('newPassword').hasError('pattern')">
					Have at least 8 or more characters, contain at least one capital letter (A-Z) and at least one number (0-9)
				</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<mat-form-field appearance="outline" hideRequiredMarker>
				<mat-label>Code</mat-label>
				<input matInput minlength="6" maxlength="6" formControlName="verificationCode" />
				<mat-icon matSuffix>security</mat-icon>
				<mat-hint>Enter the verification code you received by email.</mat-hint>
				<mat-error *ngIf="form.get('newPassword').hasError('required')">Verification code is required</mat-error>
			</mat-form-field>
		</div>
	</div>

	<div class="row pt-3">
		<div class="col-12">
			<button [disabled]="loading" mat-flat-button class="w-100" type="submit">Confirm</button>
			<button [disabled]="loading || !canResend" mat-button class="w-100 mt-3" type="button" (click)="onResendCode()">Resend Code</button>
		</div>
	</div>
</form>
