@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';

html,
body {
	height: 100%;
}

body {
	padding: 1rem 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button:not(.mdc-icon-button) {
	border-radius: 8px !important;
}

a.preserve {
	color: inherit;
	text-decoration: none;
}
