<h1>Workouts</h1>

<div class="row mb-4" *ngFor="let list of lists; index as i">
	<div class="col-12">
		<div class="background position-relative">
			<p class="fs-5 mb-3">{{ list.list.title }}</p>
			<p class="mb-3 text-sm" *ngIf="list.list.description">{{ list.list.description }}</p>

			<mat-chip-set>
				<mat-chip *ngIf="list.list.visibility">{{ list.list.visibility | titlecase }}</mat-chip>
				<mat-chip>{{ list.list.followerCount ?? 0 | number }} followers</mat-chip>
				<mat-chip *ngIf="list.list.createdAt">Created {{ momentService.ago(list.list.createdAt) }}</mat-chip>
			</mat-chip-set>

			<div class="interactions mt-lg-2">
				<button mat-button [class.color-inherit]="list.relationship !== 'following'" (click)="onLike(list)" *ngIf="list.relationship !== 'owned'">
					<mat-icon>{{ list.relationship === 'following' ? 'check' : 'add' }}</mat-icon>
					<span>
						{{ list.relationship === 'following' ? 'Following' : 'Follow' }}
					</span>
				</button>

				<button mat-button class="color-inherit" (click)="onShowExercises(list)">
					<i class="fa-solid fa-dumbbell me-2"></i>
					<span>View Exercises</span>
				</button>
			</div>

			<button mat-icon-button class="delete-button" *ngIf="list.relationship === 'owned'" (click)="onDeleteList(list)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
</div>
